.button-hamburger {
    background: transparent;
    border-width: 0px;
    width: 80px;
}


.button-hamburger {
    --button-color: rgb(0, 0, 0);
}

.button-hamburger .line {
    transition: y 100ms ease-in 100ms, rotate 100ms ease-in, opacity 0ms 100ms;
    transform-origin: center;
    fill:white;
}

.button-hamburger[aria-expanded="true"] .line {
    transition: y 100ms ease-in, rotate 100ms ease-in 100ms, opacity 0ms 100ms;
}

.button-hamburger[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
}

.button-hamburger[aria-expanded="true"] .top {
    rotate: 45deg;
}

.button-hamburger[aria-expanded="true"] .middle {
    opacity: 0;
}

.button-hamburger[aria-expanded="true"] .bottom {
    rotate: -45deg;
}
  
  