@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:ital,wght@0,400;1,800&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #35cb67 20%,#02d795 50%, #01dedb 100%) no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(10px, 1rem + 10vw, 16px);
}
main{
    flex:1;
    margin:0 64px 0 64px;
    display: flex;
    justify-content: center;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
}

section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:64px;
    padding: 0 16px 2.5rem 16px;
    align-items: center;
    justify-content: center;
}